<nav>
	<a href="/rooms" <% if (page_name === "trackChore") { %>class="current"<% } %>>
		<%- include("../../static/assets/trackChore.svg") %>
	</a>
	<a href="/" <% if (page_name === "score") { %>class="current"<% } %>>
		<%- include("../../static/assets/trackData.svg") %>
	</a>
	<a href="" <% if (page_name === "calendar") { %>class="current"<% } %>>
		<%- include("../../static/assets/calendar.svg") %>
	</a>
	<a href="/userProfile" id="navImgWrapper" <% if (page_name === "userProfile") { %>class="current"<% } %> >
		<img src="<%= userData.profileImg %>" alt="">
	</a>
</nav>