<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="styles/login.css">
</head>
<%- include("partials/head") %>
<body>
	<h1>ChoreScore</h1>
	<h2>Inloggen</h2>
	<div class="login container">
		<div class="loginForm">
			<input type="text" name="userName" placeholder="Voornaam">
			<input type="password" name="userPassword" placeholder="Wachtwoord">
			<a href="javascript:void(0)" class="primaryBtn loginBtn">Login</a>
		</div>
	</div>
</body>
</html>