main {
	margin: -70px 20px 0 20px;
}

main p.subtitle {
	font-weight: 500;
}

main p.subtitle:first-child {
	color: white;
}

.container {
	padding: 10px 0;
	margin-bottom: 50px;
}

.container p {
	color: var(--color-grey);
}

.userName {
	text-transform: capitalize;
}

.userBar {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-gap: 5px;
	align-items: center;
}

.pointsBar {
	background: var(--gradient-gt);
	height: 7px;
	border-radius: 10px;
}

.userPoints {
	justify-self: end;
}